.hot{
		widht:100%;
		height:auto;
		background: black;
		padding-top:20px;
	}
.mainFoto{
		width:100%;
		height:250px;
		background-image: url("app/topslide1.jpg");
		background-size:100%;
		background-repeat: no-repeat;
		color:white;
		font-size:35px;
		text-align:center;
		padding-top:450px;
		
	}
.hotConteiner{
	position:relative;
	width:100%;
	margin-top:5px; 
	display:flex;
	justify-content: space-around;
	background: black;
}
.hotElem{
		
		margin:10px;
	    width:24%;
		height:350px;
		text-align:center;
		color:white;
		background: black;
		}
.toursPicture{
	background-color:yellow;
	width:100%;
	height:220px;
	margin:5px;
}
.buy{
	width:100px;
	border-radius:5px;
	background-color:white;
}
.buyPicture{
	margin:auto;
	margin-top:10px;
	width:90%;
	height:250px;
	display:block;
}
.buyForm{
	position:absolute;
	display:flex;
	flex-direction: column;
	margin:auto;
	text-align:center;
	width:30%;
	height:450px;
	z-index:5;
	background: white;
	color:black;
}
p{
	display:block;
}
.respons{
	margin:auto;
	margin-left:5px;
	margin-bottom:5px;
	width:100px;
	height:30px;
	border-radius:5px;
	background-color:gray;
	color:black;
}
input{
	margin:auto;
	width:200px;
	height:30px;
}